@{
    ViewBag.Title = "About";
}
<form action="/Home/CategoryChosen" method="get" class="form-group">

    <fieldset><br />
        Film Türünü Seçiniz: <select id="MovieType" name="MovieType">

    <option value=""></option>

    <option value="0">Aksiyon</option>

    <option value="1">Dram
    </option>

    <option selected="selected" value="2">Komedi</option>

    <option value="3">Bilimkurgu</option>

    <option value="4">Fantastik</option>

    <option value="5">Korku</option>

    <option value="6">Gerilim</option>

    <option value="7">Animasyon</option>

    <option value="8">Gizem</option>

    <option value="9">Macera</option>

    <option value="10">Tarihi</option>

</select>
        <br />
        <br />
        <p><input type="submit" value="Onayla" /> </p>

    </fieldset>

</form>